<a href="https://colab.research.google.com/github/StaticDoDoubleG/PSTP_Workspace/blob/main/0623_List_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트의 특성에 대해서

In [ ]:
a = [1, 2, 3, 4, 5]                              #정수형 리스트
b = [1.25, 3.14, 5.11]                           #실수형 리스트
c = ['가', '나', '다']                           #문자열 리스트
d = [11, 12, 3.13, '딸기', [15, 3.25, '가나다']] #혼합형 리스트
#    0    1    2     3               4           <- 인덱스 번호
#리스트변수명[인덱스번호] -> 해당 리스트의 인덱스 번호 위치 값을 읽어온다.
d[4]
d[3]

'딸기'

In [ ]:
print(d[4])
print(d[3])

[15, 3.25, '가나다']
딸기

In [ ]:
d = [11, 12, 3.13, '딸기', [15, 3.25, '가나다']] #혼합형 리스트
#    0    1    2     3               4           <- 인덱스 번호
#슬라이싱 -> 리스트 변수명[시작 인덱스 : 종료 인덱스]
#실제 종료하고 싶은 값보다 +1 종료인덱스, "~미"
print(d[1 : 4])

[12, 3.13, '딸기']

In [ ]:
문자열 = "가나다라마바"
#         0 1 2 3 4 5
#문장열은 인덱스를 이용해 내용 변경이 불가능함
#문자열[4] = '아' //실제로 실행하면 에러가 발
문자열[4]

'마'

In [ ]:
리스트 = ['가', '나', '다', '라', '마', '바']
#리스트는 인덱스를 이용해 내용 변경이 가능함
리스트[4] = '아'
리스트[4]
리스트

['가', '나', '다', '라', '아', '바']

In [ ]:
score = [70, 80, 90, 100, 70, 60, 50, 90]
for i in score:
  print(i)

70
80
90
100
70
60
50
90

In [ ]:
#(1)
#for 변수 in 시퀀스범위:
#  실행할 문장

for i in [1, 2, 3, 4]:
  print(i, end = " ")
print()
#(2)
#for 변수 in range(시작값, 종료값, 단계): //종료값 = 실제 종료값 + 1
#  실행할 문장

for i in range(1, 11, 1):
  print(i, end = " ")
print()
for i in range(10, 0, -1): # 1씩 단계가 증가하는 경우에는 생략해도 되지만, 이 경우 단계 인자 생략하면 안됨
  print(i, end = " ")

#(3)
#for 변수 in range(종료값):
#  실행할 문장

for i in range(10):
  print(i, end = " ")  #시작값이 생략된 경우는 컴퓨터가 시작값을 0이라고 간주하고 반복한다.
print()
#정확한 횟수를 알고 있을 경우에 사용

1 2 3 4
1 2 3 4 5 6 7 8 9 10
10 9 8 7 6 5 4 3 2 1

In [ ]:
score = [70, 80, 90, 100, 70, 60, 50, 90]
#리스트크기(길이) 확인하고 싶을 때 : len()
len(score)
sum = 0
for i in range(len(score)):
  sum = sum + score[i]

#print('8명 학생의 평균' + sum)
print(f'{len(score)}명 학생의 평균은 {sum / len(score)}')

8명 학생의 평균은 76.25

다차원 리스트에 대해서

row    행 가로줄   
column 렬 세로줄

In [ ]:
#2차원 리스트
#리스트변수명 = [[], [], []]
students = [
    ['john', 18, 'male'],
    ['lisa', 17, 'female'],
    ['david', 19, 'male']
  ]

students[0] #첫번째(인덱스 0) 행 출력
students[1] #두번째(인덱스 1) 행 출력
students[2] #세번째(인덱스 2) 행 출력

['david', 19, 'male']

In [ ]:
students[0][0] #첫번째 행, 첫번째 열 출력
students[1][2] #두번째 행, 세번째 열 출력

'female'

In [ ]:
ff = [
    ['apple', 'red', '5000'],
    ['banana', 'yellow', '2000'],
    ['orange', 'orange', '3000']
]

for i in ff:
  print(i)

aa = [1, 2, ['가', 2, 'abc']]
for i in aa:
  print(i)

['apple', 'red', '5000']
['banana', 'yellow', '2000']
['orange', 'orange', '3000']
1
2
['가', 2, 'abc']

In [ ]:
for i  in ff:
  name = i[0]
  color = i[1]
  price = i[2]
  print(f'과일 이름 : {name}, 색상 : {color}, 가격: {price}')

과일 이름 : apple, 색상 : red, 가격: 5000
과일 이름 : banana, 색상 : yellow, 가격: 2000
과일 이름 : orange, 색상 : orange, 가격: 3000

In [ ]:
qq = [
    ['대한민국의 수도는?', '서울'],
    ['미국의 수도는?', '워싱턴 D.C'],
    ['싱가포르의 수도는?', '싱가포르']
]#2차원 리스트로 퀴즈 문제 만둘기
count = 0
for q in qq:
  question = q[0] #문제, 첫번째(인덱스 0) 열
  answer = q[1] #답, 두번째(인덱스 1) 열

  user = input(question + " ")

  #print(user)
  #print(answer)
  if user.lower() == answer.lower():
    print("정답입니다.")
    count = count + 1
  else:
    print("틀렸습니다.")
print(f'총 {count}개 맞췄습니다.')
print(f'총 {count * 2}점 득점했습니다.')

대한민국의 수도는? 서울
정답입니다.
미국의 수도는? 워싱턴 D.C
정답입니다.
싱가포르의 수도는? 싱가포르
정답입니다.
총 3개 맞췄습니다.
총 6점 득점했습니다.

In [ ]:
qq = [
    ['What is the capital of France?', 'paris'],
    ['Which planet is known as the Red Planet?', 'venus'],
    ['What is the largest ocean on Earth?', 'pacific']
]#2차원 리스트로 퀴즈 문제 만둘기
count = 0
for q in qq:
  question = q[0] #문제, 첫번째(인덱스 0) 열
  answer = q[1] #답, 두번째(인덱스 1) 열

  user = input(question + " ")

  #print(user)
  #print(answer)
  if user.lower() == answer.lower():
    print("Correct.")
    count = count + 1
  else:
    print("Incorrect")
#print(f'총 {count}개 맞췄습니다.')
print(f'Your Final Score is {count * 2}.')

What is the capital of France? PAris
Correct.
Which planet is known as the Red Planet? Venus
Correct.
What is the largest ocean on Earth? Pacific
Correct.
Your Final Score is 6.

In [ ]:
qq = [
    ['Better Call?', 'Finger', 10],
    ['What does Earth really look like?', 'venus', 15],
    ['What is the largest ocean on Earth?', 'pacific', 5],
    ['What is the capital of France?', 'paris', 10],
    ['Which planet is known as the Red Planet?', 'venus', 15],
    ['What is the largest ocean on Earth?', 'pacific', 5],
    ['What is the capital of France?', 'paris', 10],
    ['Which planet is known as the Red Planet?', 'venus', 15],
    ['What is the largest ocean on Earth?', 'pacific', 5],
    ['', 10]

]#2차원 리스트로 퀴즈 문제 만둘기
count = 0
c = 0
for q in qq:
  question = q[0] #문제, 첫번째(인덱스 0) 열
  answer = q[1] #답, 두번째(인덱스 1) 열
  score = q[2] #배점, 세번째(인덱스 2) 열

  user = input(question + " ")

  #print(user)
  #print(answer)
  if user.lower() == answer.lower():
    print("Correct.")
    count = count + score
    c = c + 1
    #count = count + 1
  else:
    print("Incorrect")
#print(f'총 {count}개 맞췄습니다.')
print(f'Your Final Score is {count}.')