<a href="https://colab.research.google.com/github/StaticDoDoubleG/PSTP_Workspace/blob/main/0626_Data_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플, **딕셔너리**(중요!), 세트

# **[튜플]**

In [1]:
tuplea = 1, 2, 3
type(tuplea)

tuple

In [2]:
a = 1, #자료가 하나일 때는 콤마로 튜플로 만들기
b = 1
print(a, b)
print(type(a), type(b))

(1,) 1
<class 'tuple'> <class 'int'>

튜플은 읽기 전용 리스트
읽기 O
추가 X
변경 X
삭제 X, 단 전체는 가능
정렬 X

In [15]:
a = 1, 3, 4, 5, 2, 4, 5 #튜플
#a[1] = '가'   //오류, 변경 안됨
#del(a[2])     //오류, 부분 삭제 안됨
#a.sort()      //오류, 정렬 안됨
#del(a)        //전체 삭제는 됨

# 튜플에서 리스트로 변환
b = list(a)
print(a, type(a))
print(b, type(b))
b[1] = 12
print(b, type(b))
b.sort()
print(b, type(b))

# 리스트에서 튜플로 변환
c = tuple(b) #튜플의 원본은 훼손하지 않는 것이 좋습니다.
print(c, type(c))

(1, 3, 4, 5, 2, 4, 5) <class 'tuple'>
[1, 3, 4, 5, 2, 4, 5] <class 'list'>
[1, 12, 4, 5, 2, 4, 5] <class 'list'>
[1, 2, 4, 4, 5, 5, 12] <class 'list'>
(1, 2, 4, 4, 5, 5, 12) <class 'tuple'>

In [17]:
c[3:5] #3에서 5미만
c[-1]

12

In [19]:
d = 11, 14, 15, 16
c[3:5] + d[0:2]
d[0:2]*2

(11, 14, 11, 14)

In [24]:
tt = '포도', '딸기', '바나나', '사과', '망고', '오렌지'
max(a) #주어진 범위 안에서 가장 큰 값
min(a) # 주어진 범위 안에서 가장 작은
print(max(tt))
print(min(tt))
#문자와 숫자 사이에서는 Sorting이 불가능함
#Sorting을 하고 싶으면 자료형이 동일한 튜플, 리스트여야함
#tt.index('사과')
#print(f'사과의 인덱스 번호는 {tt.index('사과')}')
len(tt)

포도
딸기

6

In [25]:
d = 11, 14, 15, 16
sum(d)

56

활동하기 (1)

In [31]:
aa = 1, 2, 3, 4, 5

for i in range(len(aa)):
  print(f'{i}번째 인덱스는 {aa[i]}')

0번째 인덱스는 1
1번째 인덱스는 2
2번째 인덱스는 3
3번째 인덱스는 4
4번째 인덱스는 5

# **[딕셔너리]**
딕셔너리: 사전과 같은 구조를 가짐.

자바의 맵 자료구조와 같다고 보면 됨.

딕셔너리 변수 = {키:값, 키:값, 키:값, ... }

In [36]:
dict_A = {1:'여름', '여행' : '해외', 2 : 2023, 2 : '노르웨이', 3 : '비행기'}
#딕셔너리는 무조건 '키'가 포인트!
#키가 중복이 된다면 먼저 입력된 키의 값은 마지막으로 입력된 중복된 키의 값에 의해 덮어씌워짐
print(dict_A)
print(dict_A[2])

{1: '여름', '여행': '해외', 2: '노르웨이', 3: '비행기'}
노르웨이

In [38]:
dict_A = {1:'여름', '여행' : '해외', 2 : 2023, 2 : '노르웨이', 3 : '비행기', "과일" : "여름"}
#값은 중복이 되어도 상관없음.
print(dict_A)
print(dict_A[1])
print(dict_A['과일'])

{1: '여름', '여행': '해외', 2: '노르웨이', 3: '비행기', '과일': '여름'}
여름
여름

In [42]:
#딕셔너리 변수명[키] -> 우리가 찾고 싶은 키와 맵핑된 값을 찾아서 출력해준다.
#값을 변경하고 싶을 때 : 딕셔너리 변수명[키] = 변경할 값
dict_A[3]
dict_A['여행'] = '국내'
print(dict_A)

{1: '여름', '여행': '국내', 2: '노르웨이', 3: '비행기', '과일': '여름'}

In [43]:
#딕셔너리 값 삭제하기 : del(딕셔너리 변수명[키])
del(dict_A[3])
print(dict_A)

{1: '여름', '여행': '국내', 2: '노르웨이', '과일': '여름'}

In [53]:
#dict_A['비행']
dict_A.get('여행')     #get 함수
dict_A.get('비행')     #오류 메시지 출력 안함
'여행' in dict_A       #in 연산자
'비행' in dict_A
'여행' not in dict_A   # not in 연산자
'비행' not in dict_A
#get을 사용하는 것을 권장함

True

In [54]:
len(dict_A)

4

In [59]:
dict_b = {1:'a', 2:'b', 3:'c', 4:'d'}
print(dict_b)
dict_b.update({5 : 'e', 6 : 'f', 7 : 'm', 8 : 'z'})
print(dict_b)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'm', 8: 'z'}

In [60]:
dict_b.keys()
dict_b.values()
dict_b.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'm'), (8, 'z')])

In [62]:
dict_tt = {'apple' : 'apple.com', 'samsung' : 'samsung.com', 'google' : 'google.com'}
type(dict_tt)
for i in dict_tt.keys():
  print(f'키: {i} 값: {dict_tt[i]} ')
print()
for a, b in dict_tt.items():
  print(f'{a} : {b}')

키: apple 값: apple.com
키: samsung 값: samsung.com
키: google 값: google.com

apple : apple.com
samsung : samsung.com
google : google.com

활동하기 (2)

In [69]:
#빈 리스트를 표현하고자 할 때에는 a = [] or a = list()
#즉, 빈 딕셔너리를 표현하고자 할 때에는 b = () or b = dict() //양쪽 다 후자가 권장됨(해당 자료구조가 무엇인지 식별하기 위해서)
#빈 세트도 c = set()
dic1 = {'a':100, 'b':200}
dic2 = {'c':300, 'd':400}
dic3 = dict()
#교수의 답안, items 사용
for i, j in dic1.items():
  dic3[i] = j
for x, y in dic2.items():
  dic3[x] = y

#나의 답안, keys 사용
for v in dic1.keys():
  dic3[v] = dic1[v]
for v in dic2.keys():
  dic3[v] = dic2[v]
print(dic3)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}

활동하기 (3)

In [75]:
while True:
  dicday = {'월':'mon','화':'tue','수':'wed','목':'thu','금':'fri','토':'sat','일':'sun'}
#print(dicday)
  day = input("월요일부터 일요일까지 중 영어로 번역하고 싶은 요일을 입력하세요:"+" ")
  if day == '종료':
    break

  if day in dicday:
    print(dicday[day])
  else:
    print("요일을 잘못 입력했습니다.")

월요일부터 일요일까지 중 영어로 번역하고 싶은 요일을 입력하세요: 금
fri
월요일부터 일요일까지 중 영어로 번역하고 싶은 요일을 입력하세요: 월
mon
월요일부터 일요일까지 중 영어로 번역하고 싶은 요일을 입력하세요: 토
sat
월요일부터 일요일까지 중 영어로 번역하고 싶은 요일을 입력하세요: 종료

# [**세트**]
중복이 되어있는 값 알아서 정리함

들어온 순서도 영향이 가지 않음

중복된 값을 오직 하나만 가짐

중복 제거 시 세트를 일부러 사용하는 경우도 존재

In [78]:
set_a = {3, 5, 1, 2, 3, 1, 6, 4, 7, 6, 5, 8}
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [84]:
list_a = [1, 3, 4, 5, 3]
print(list_a, type(list_a))
A = set(list_a)  #리스트를 세트로 변환시킴
print(A, type(A))

[1, 3, 4, 5, 3] <class 'list'>
{1, 3, 4, 5} <class 'set'>

In [87]:
1 not in A
2 not in A

True

In [90]:
set_A = {4, 1, 6, 2, 3, 8, 1}
set_B = {2, 5, 6, 2, 1, 3, 9, 11, 16}
print(set_A)
print(set_B)
print("교집합: ", set_A & set_B)
print("합집합: ", set_A | set_B)
print("차집합: ", set_A - set_B)
print("차집합: ", set_B - set_A)

{1, 2, 3, 4, 6, 8}
{1, 2, 3, 5, 6, 9, 11, 16}
교집합:  {1, 2, 3, 6}
합집합:  {1, 2, 3, 4, 5, 6, 8, 9, 11, 16}
차집합:  {8, 4}
차집합:  {16, 9, 11, 5}

In [92]:
my_set = {"Python", "Java", "Kotlin"}
my_set.add("R") #세트에 값을 1개 추가
print(my_set)
my_set.update({"C", "C++", "C#"}) #세트에 여러 개의 값을 한꺼번에 올림
print(my_set)

{'Java', 'R', 'Kotlin', 'Python'}
{'C', 'R', 'C#', 'Python', 'C++', 'Java', 'Kotlin'}

In [93]:
my_set.remove("R")  #하나의 값 삭제하기
print(my_set)
my_set.clear()      #전체 삭제
print(my_set)

{'C', 'C#', 'Python', 'C++', 'Java', 'Kotlin'}
set()

In [97]:
test = [1, 2, 3, 4, 5]
test.pop() #맨 마지막 값을 삭제하고 그 값을 알려줌
test.pop(0) #지정한 인덱스의 값을 삭제하고 그 값을 알려줌
test.remove(3) #지정한 값을 삭제만하고 그 값을 알려주지는 않음
print(test)

[2, 4]

In [100]:
m_set = {1, 2, 4, 6, 11, 12, 13, 14, 15, 16, 17}
print(m_set)
m_set.remove(13)
print(m_set)

{1, 2, 4, 6, 11, 12, 13, 14, 15, 16, 17}
{1, 2, 4, 6, 11, 12, 14, 15, 16, 17}