<a href="https://colab.research.google.com/github/StaticDoDoubleG/PSTP_Workspace/blob/main/0627_Functions_and_Iterators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[Function, 함수]**
반복적으로 사용하는 코드는 함수로 정의하여 관리

사용자 정의 함수

In [6]:
#------함수를 정의하는 방법 - 말 그대로 함수를 정의
#def 함수이름(매개변수):
#  실행할 문장
#------함수 호출 - 정의한 함수를 호출(필요 시)
#함수이름(인수)

#함수 정의
def hello(str):
  print(f"안녕!! {str}!")
#함수 호출(Call)
hello('멍머이')

def helloplus(name, month, day):
  print(f"{name}님\n안녕하세요!")
  print(f"오늘은 {month}월 {day}일입니다.")
#매개변수가 3개면 인수도 3개
helloplus('멍머이', 6, 27)

def helloplus1(name, month, day = 29):
  print(f"{name}님\n안녕하세요!")
  print(f"오늘은 {month}월 {day}일입니다.")
#매개변수가 3개면 인수도 3개
helloplus1('멍머이', 6, 27) #세번째 매개변수가 세번째 인수로 덮어쓰기됨
helloplus1('건더기', 6) #사전 지정의 경우 초기화된 값이 적용됨, 오류 아님

안녕!! 멍머이!
멍머이님
안녕하세요!
오늘은 6월 27일입니다.
멍머이님
안녕하세요!
오늘은 6월 27일입니다.
건더기님
안녕하세요!
오늘은 6월 29일입니다.

# **[Default Function]**
사용자가 특별히 값을 넘겨주지 않으면 매개변수에 기본값 정해주는 인수.

디폴트 인수를 사용하는 경우, 기본값이 정해진 인수는 생략가능.

In [7]:
def print_line(symbol="*", num=3):
  for i in range(1,num+1):
    print(symbol*i)

print_line()
print_line("#",5)

*
**
***
#
##
###
####
#####

In [10]:
def f_call(name = "레오", age = 20):
  print(f'이름: {name}, 나이: {age}')

f_call()
f_call('뭉탱이')

이름: 레오, 나이: 20
이름: 뭉탱이, 나이: 20

In [14]:
def sum(a, b):
  c = a + b
  return c

result = sum(4, 5)
print(f'두 수의 합: {result}')

두 수의 합: 9

In [15]:
def sum_avg(a, b):
  c = a + b
  avg = c / 2
  return c, avg

sum, avg = sum_avg(4, 5)
print(f'두 수의 합: {sum}\n두 수의 평균: {avg}')

두 수의 합: 9
두 수의 평균: 4.5

전역변수: 함수 밖에서 변수 정의하여 함수 내외부 전체에서 모두 사용되는 변수

지역변수: 변수가 함수 내부에서 정의되어 함수 안에서만 사용 가능한 변수로 함수 외부에서는 함수 내부에 정의된 변수가 어떤 것이 정의되어 있는지 알 수 없음

In [16]:
i=96 #전역변수
def var_func1():
  print("i의 값은 {}".format(i))
def var_func2():
  i=12 #지역변수
  print("i의 값은 {}".format(i))
var_func1()
var_func2()

i의 값은 96
i의 값은 12

In [20]:
i=10 #전역변수
def var_func1():
  print(f'i = {i} 은/는 전역변수')
def var_func2():
  i=20 #지역변수
  print(f'i = {i} 은/는 지역변수')
var_func1()
var_func2()
print(f'i = {i} 은/는 전역변수')

i = 10 은/는 전역변수
i = 20 은/는 지역변수
i = 10 은/는 전역변수

In [24]:
k = 0 #전역변수

def aaa():
  global k
  k = 10 #지역변수
  print(k)

aaa()
print(f'k = {k} ')

10
k = 10

In [27]:
result = 0

def add(a,b):
  result = a + b
  return result

result = add(1,2)
print("두 수의 합은 {} 이다.".format(result))

def substraction(a, b):
  result = a - b
  return result

result = substraction(1,2)
print("두 수의 차는 {} 이다.".format(result))

def multiply(a, b):
  result = a * b
  return result

result = multiply(1,2)
print("두 수의 곱은 {} 이다.".format(result))

def divide(a, b):
  global result
  result = a / b
  return result

divide(1,2)
print("두 수의 몫은 {} 이다.".format(result))

두 수의 합은 3 이다.
두 수의 차는 -1 이다.
두 수의 곱은 2 이다.
두 수의 몫은 0.5 이다.

In [31]:
import random
import math
random.sample(range(1, 46), 6)
print(math.ceil(3.14)) #올림
print(round(3.14)) #반올림
print(math.floor(3.97)) #내림
print(round(3.97)) #반올림

4
3
3
4

# **활동하기 1**

In [33]:
def countNumber(numbers, k):
  counter = 0
  for i in range(len(numbers)):
    if numbers[i] == k:
      counter += 1
  return counter
num = [ 1, 7, 2, 4, 2, 3, 7, 4, 5 ]
print(f'총 {countNumber(num, 4)}회')

총 2회

In [37]:
def cn(a, k):
  for i in range(len(a)):
    print(f'인덱스[{i}]')
    if a[i] == k:
      print(f'{k}와 같은 인덱스[{i}]')

num = [1, 7, 2, 4, 2, 3, 7, 4, 5,]
result = cn(num, 4)
print(f'총 {result}번 나옴')

인덱스[0]
인덱스[1]
인덱스[2]
인덱스[3]
4와 같은 인덱스[3]
인덱스[4]
인덱스[5]
인덱스[6]
인덱스[7]
4와 같은 인덱스[7]
인덱스[8]
총 None번 나옴

# **활동하기 2**

In [34]:
print("1~7까지 중 5를 만나면 반복문을 빠져나오는 경우의 실행결과:", end=" ")
for i in range(8):
  if i == 5:
    break # i가 5가 되면 for 구문 자체를 끝내게 됨
  print( i, end = " " )
print() # 출력에서 줄 바꿈 수행
print("1~7까지 중 3 또는 5를 제외한 나머지를 출력한 실행결과:", end=" ")
for i in range(8):
  if i in [3,5]:
    continue # i가 3 or 5가 되면 print(i)수행하지 않고 다음 반복단계 계속 진행
  print( i, end = " " )
print()

1~7까지 중 5를 만나면 반복문을 빠져나오는 경우의 실행결과: 0 1 2 3 4
1~7까지 중 3 또는 5를 제외한 나머지를 출력한 실행결과: 0 1 2 4 6 7

# **활동하기 3**

In [39]:
for i in range(1,31):
  if i>=30:
    break
  if i%2==0:
    continue
  print("{} ".format(i), end=" ")

print()

for i in range(31):
  i=i+1
  if i>=30:
    break
  if i%2==0:
    continue
  print("{} ".format(i), end=" ")

print()

i=0
while True:
  i=i+1
  if i>=30:
    break #반복문을 빠져나가
  if i%2==0:
    continue
  print("{} ".format(i), end=" ")

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29
1  3  5  7  9  11  13  15  17  19  21  23  25  27  29
1  3  5  7  9  11  13  15  17  19  21  23  25  27  29

# **활동하기 4**

In [ ]:
num = 1
while num <= 5:
  for i in range(1, num + 1):
    print(i, end=' ')
  print()
  num += 1

for num in range(1, 6):
  for i in range(1, num + 1):
    print(i, end=' ')
  print()

# **활동하기 5**

In [ ]:
num = int(input("시작값:"))
e_num=int(input("종료값:"))
while num <= e_num:
  for i in range(1, num + 1):
    print('*', end=' ')
  print()
  num += 1

# **활동하기 6**

In [40]:
num = 2
while num <= 9:
  print(f"구구단 {num}단:")
  for i in range(1, 10):
    result = num * i
    print(f"{num} x {i} = {result}")
  print()
  num += 1

for num in range(2, 10):
  print(f"구구단 {num}단:")
  for i in range(1, 10):
    result = num * i
    print(f"{num} x {i} = {result}")
  print()

구구단 2단:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

구구단 3단:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

구구단 4단:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

구구단 5단:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

구구단 6단:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

구구단 7단:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

구구단 8단:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

구구단 9단:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

구구단 2단:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

구구단 3단:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

구구단 4단:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

구구단 5단:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

구구단 6단:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

구구단 7단:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

구구단 8단:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

구구단 9단:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [41]:
dan = 2
while dan <= 9:
  print(f'{dan}단')
  for i in range(1, 10):
    print(f'{dan} * {i} = {dan * i}')
  print("-"*10)
  dan = dan + 1

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

In [45]:
num = 1
while num <= 5:
  #print(f'{num}')
  for i in range(1, num + 1):
    print(i, end = ' ')
  print()
  num = num  + 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5